//colors

$lightest_yellow: #fceba0;

$light_yellow: #f3e191;

$med_light_yellow: #fae16f;

$med_yellow: #f9d639;

$dark_yellow: #f7cc08;


$lightest_pink: #ffebeb;
$med_pink: #ff9f9f;
$dark_pink: #ff8080;



$smokey_grey: #ccc;